body 
{
    background-image: url('https://cdn.crowdpic.net/list-thumb/thumb_l_BD9725CBE59C9229B808928D5FEDA1EA.jpg');
    font-family: 'Roboto', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
    
}
.container
{
    margin-top: 50px;
    width:400px;
    height:600px;
    border: 0px solid gray;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 8px 5px 5px  rgb(63, 63, 63);
    background-color: rgb(255, 245, 106);
    z-index: 1;
}

.title
{
    font-size: 18px;
    margin-left:0;
    margin-right:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    background-color: rgb(87, 87, 87);
    border:3px;
    z-index: 3;
    display: flex;
    color:rgb(221, 221, 221);

}
h1
{
    padding-top: 10px;
    padding-bottom: 2px;
    margin-top: -4px;
    margin-right: auto;
    margin-left: auto;
}



.bottom
{
    padding-top: 20px;
    padding-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(248, 246, 238);
    border: 3px dashed rgb(100, 100, 100);
    margin-top: 20px;
    padding-left: 100px;
}

