<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class = "container">
        <h1 class ="title">TO-DO-LIST</h1>
        <div>
            <ul>
                {% for	post in	posts	%}
                <li>
                    <a href="{% url 'detail' post.pk %}">{{post.title}}</a>
                    (deadline : {{post.deadline}})
                </li>
                {%	endfor %}
            </ul>
        </div>
        <a href="{%	url 'new'	%}">Add New Task</a>
    </div>
</body>
</html>